{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock head %}


{% block title %}

    Issue

{% endblock title %}


{% block style %}

    .glyphicon-user:before 
    {
        content: "\e136";
    }

    .glyphicon-log-in:before
    {
        content:"\e111"
    }

    .glyphicon-log-out:before
    {
        content:"\e111"
    }

{% endblock style%}


{% block body %}

    <div class="container pb-5 pt-4">

        <h2>Enter the Details</h2>
            
        <form action="/need/Issue" method="POST">

            {% csrf_token %}   

            <div class="form-group pt-3">
    
                <label for="usr">Book Name:</label>
                <input type="text" class="form-control" id="usr" placeholder="Book Name" name="bookName" required>
                
            </div>

            <div class="form-group">
    
                <label for="usr">Author Name:</label>
                <input type="text" class="form-control" id="usr" placeholder="Author Name" name="author" required>
                
            </div>

            <button type="submit" class="btn btn-primary mt-2">Issue</button>
            
        </form>
          
    </div>
    
{% endblock body %}