{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock head%}


{% block title %}

    Confirmation

{% endblock title %}

{% block style %}

    .glyphicon-user:before 
    {
        content: "\e136";
    }


    .glyphicon-log-in:before
    {
        content:"\e111"
    }

    .glyphicon-log-out:before
    {
        content:"\e111"
    }

{% endblock style%}

{% block body%}



    <div class="jumbotron jumbotron-fluid">

        <div class="container">
                
            <h1>Book Found</h1>  

            <p>We have your Book named as with author... Please go through below 
                process as per your need !! 
            </p>
            
        </div>
        
    </div>

    <div class="container pb-5">

        <h4 class="mb-3">Do you want to Issue Book ??</h4>

        <form action="/need/IssueConfirmation" method="POST">

            {% csrf_token %}
            
            <label class="checkbox">
                <input type="checkbox" name="yes"> Yes
            </label>

            <br>

            <label class="checkbox">
                <input type="checkbox" name="no"> No
            </label>

            <br>

            <button type="submit" class="btn btn-primary mt-1">Confirm</button>

        </form>

    </div>

{% endblock body %}